<div class="text-center" ng-controller="actFavController as aFCtrl">
    <h4>Todavía no has seleccionado ningun actor como favorito.</h4>
    <button type="button" class="btn btn-primary" ng-click="aFCtrl.searchRecMovies()">
                        <span class="glyphicon glyphicon-search">
                        </span> Obtener películas recomendadas
    </button>
    <div ng-show="aFCtrl.recMovies" class="ng-cloak">
        <div class="panel panel-default panel-info panel-modest">
            <div class="panel-heading">Películas recomendadas</div>
            <div class="panel-body" ng-repeat="movie in aFCtrl.recMovies">
                <p>{{movie.title}}<br></p>
            </div>
        </div>
    </div>
</div>