a {
	&.active {
		font-weight: bold;
	}
}

img {
	max-width: 60%;
}

#formLogin {
	margin-top: 50px;
	float: none;
}

#inputUsername {
	margin-top: 25px;
	margin-bottom: 12px;
}

#inputPassword {
	margin-bottom: 25px;
}

#ImagenHeader {
	width: 15%;
}

#cabeceraUsuario {
	margin-top: 5px;
	margin-right: 5px;
}

table th {
	text-align: center;
}

#modest,
#modest .panel-body,
.panel-modest,
.panel-modest .panel-body {
	display: inline-block;
}

.table {
	margin: auto;
	width: 50% !important;
}
