a {
	&.active {
		font-weight: bold;
	}
}

img{
	max-width: 60%;
}

#formLogin{
	margin-top: 50px;
	float: none;
}

#inputUsername{
	margin-top: 25px;
	margin-bottom: 12px;
}

#inputPassword{
	margin-bottom: 25px;
}
