<div class="text-center" ng-controller="userController as userCTRL">
    <h4>Lista de usuarios:</h4>
    <div class="jumbotron">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="center">
                    <th>
                        ID
                    </th>
                    <th>
                        Username
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in userCTRL.showUsers()">
                    <td>{{ user.id}}
                    </td>
                    <td>{{ user.credencial.username }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>