<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body  ng-app="">
		<nav id="searcher" class="nav navbar">
			<input type="text" ng-model="search" name="query"/>
			<a ng-href="/search/movie/{{search.split(' ').join('-')}}">
				<button>SEARCH!</button>
			</a>
			
		</nav>
		
		<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- <script type="text/javascript" src="webjars/angularjs/1.6.3/angular.min.js"></script> -->
	</body>
</html>