<div class="container" ng-controller="HomeController">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group search-panel">
                <input type="text" class="form-control" autofocus ng-model="textoDeBusqueda">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="buscar(textoDeBusqueda)"><span
                            class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>

    <table class="table table-striped" ng-show="resultados.length > 0">
        <thead>
        <tr>
            <th>#</th>
            <th>Tipo</th>
            <th>Titulo</th>
            <th>Accion</th>
        </tr>
        </thead>
        <tr ng-repeat="item in resultados">
            <td>{{item.id}}</td>
            <td>{{item.media_type}}</td>
            <td><a ui-sref="fichaPelicula({movieId:item.id})">{{item.title}}{{item.name}}</a></td>
            <td>
                <button type="button" title="Agregar como favorito" class="btn btn-success" ng-click="agregarComoFavorito(item)">
                    <span class="glyphicon glyphicon-heart"></span>
                </button>
            </td>
        </tr>
    </table>

</div>
